<%- include('partials/header') %>

<main class="content">
  <h1>Site not found! 📕</h1>
  <p>We could not seem to process your request for <code><%= url %></code>.</p>
  <p><a class="btn" href="/">Return Home</a></p>
</main>
<%- include('partials/footer') %>
