
<%- include('partials/header', { siteTitle: 'My Book to Movie Site Log!', activePage: 'add' }) %>

<main class="content">
  <h2><%= pageTitle %></h2>
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Motion Picture Book! 📚📽</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Name a Motion Picture Book that you have read! 📖</h1>
    <form action="/add" method="POST">
      <input type="text" name="entry" placeholder="Favorite Motion Picture Book!" required>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
</main>

<%- include('partials/footer') %>