
<%- include('partials/header', { siteTitle: 'My Book to Movie Site Log!', activePage: 'why' }) %>

<main class="content">
  <h2><%= pageTitle %></h2>
 To remember what Books I have read that were also a Motion Picture!  
 
 
  
</main>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
     
     Taking this Program for the Web class is what has inspired me to make this App and it's
  my Project that I have had so much fun doing.  
 
     Having others be able to add their favorite Motion 
  Picture Books will be so fun.📘📺📚📽
    
    <p><a href="/">Back to Home</a></p>
  </body>
</html>
</main>






<%- include('partials/footer') %>
